.UserAvatar {
    display: inline-block;
    color: white;
  }
  
  .UserAvatar--inner {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #222629;
  }
  
  .UserAvatar--light {
    color: gray;
  }
  
  .UserAvatar--light .UserAvatar--inner {
    border: 1px solid lightgray;
  }
  .TextBox{
    align-items: center;
  }
  form label, form input {
    display: block;
    margin-bottom: 10px;
    width: 90%
  }
  
  form input {
    padding: 10px;
    border: solid 1px #BDC7D8;
  
  }
  
  .button {
    background-color: #00BFFF;
    border-color: #3ac162;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
  }
  
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
    font-style: italic;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }
  